.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: #636ae8;
}

.navbar-title.home {
  color: #fff;
}

.navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  text-decoration: none;
  padding: 10px;
  align-content: center;
}

.navbar-content {
  font-size: 16px;

  color: #111;
}

.navbar-content img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-top: 0;
  margin-left: 10px;
}

.navbar-content.home {
  color: #f3f3f3;
}
