.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centers;
}

.cornerSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  position: relative;
  background: #636ae8;
  width: 90%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  position: inherit;
  padding-top: 20px;
}

.frontLeft {
  position: absolute;
  top: 55px;
  left: 50px;
}

.frontRight {
  position: absolute;
  top: 55px;
  right: 50px;
}

.midLeft {
  position: absolute;
  top: 160px;
  left: 50px;
}

.midRight {
  position: absolute;
  top: 160px;
  right: 50px;
}

.backLeft {
  position: absolute;
  left: 50px;
  bottom: 55px;
}

.backRight {
  position: absolute;
  right: 50px;
  bottom: 55px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: lightgreen;
}

.navigator {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.next {
  text-decoration: none;
  font-size: 18px;
  color: #808080;
}

.next img {
  height: 14px;
  padding-left: 7px;
}
